<h1>Picture Posts</h1>

<%= link_to 'New Picture Post', new_picture_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>

  <% @pictures.each do |picture| %>
    <tr>
      <td><%= link_to picture.title, picture_path(picture) %></td>
      <td>
        <%= link_to 'Edit', edit_picture_path(picture) %> |
        <%= link_to 'Delete', picture_path(picture), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
