<h1><%= @picture.title %></h1>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url if @picture.image.present? %>
</p>

<p>
  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Back', pictures_path %>
</p>
